<head>
  <title>Home</title>
</head>
<body>
  <h1>Bem-vindo à nossa aplicação!</h1>
    <%= link_to "Login", new_devise_user_session_path %>
    <%= link_to "Cadastro", new_devise_user_registration_path %>
</body>
